{{>header}}
{{>navbar}}

<div class="container mt-4">
    <div class="row">
        <div class="col col-md-10 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Registration Form</h2>
                </div>
                <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name" name="firstname">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" name="lastname">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male">
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                    
                            </div>
                        </div>

                       <div class="row mt-3">
                            <div class="col">
                                <input type="tel" class="form-control" placeholder="Phone Number" name="phone">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Age" name="age">
                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col">
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                            <div class="col">
                               <input type="password" class="form-control" id="conf_password" placeholder="Confirm Password" name="confirmpassword">
                            </div>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>>

{{>footer}}

    
   